:root {
    --main-color: #066ac9;
    --main-color-rgb: 6, 106, 201;
    --second-color: #e50f41;
    --second-color-rgb: 229, 15, 65;
    --orange-color-rgb: 253, 126, 20;
    --body-color: #747579;
    --black-color: #000;
    --heading-font-family: "Quicksand";
    --body-font-family: "Quicksand";
}

body {
    font-family: var(--body-font-family);
    color: var(--body-color);

}


h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: var(--body-font-family);
    color: var(--black-color);
    font-weight: bold;

}

.navbar {

    --bs-navbar-active-color: var(--main-color);
    --bs-navbar-brand-padding-y: 0;


    .logo {
        width: 4rem;
    }

}

.nav-link:hover {
    --bs-nav-link-hover-color: var(--main-color);
}

.main-header {

    .btn-danger {
        --bs-btn-bg: var(--second-color);
        --bs-btn-border-color: var(--second-color);
    }

    .btn-primary-shadow {
        span {
            box-shadow: 0 0 0 0.5rem rgba(var(--main-color-rgb), 0.5);
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            color: var(--black-color);

            span {
                box-shadow: 0 0 0 0.75rem rgba(var(--main-color-rgb), 0.5);
            }
        }

        .text-primary {
            --bs-primary-rg: var(--main-color-rgb)
        }

    }

    .picture {}

}

#popular {

    .card {
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    }


    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {

        --bs-nav-pills-link-active-bg: var(--main-color);
    }

    .nav-link {
        --bs-nav-link-color: var(--body-color);

        &:focus,
        &:hover {
            --bs-nav-link-hover-color: var(--main-color);
        }
    }
}

#news {
    .picture {
        width: 5rem;
        margin-top: -2.7rem;
    }

    .carousel-indicators [data-bs-target] {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .carousel-item {
        border: 0.3rem solid rgba(128, 128, 128, 0.364);
        border-radius: 0.25rem;
    }

    .item h2::after {
        content: "";
        background-color: var(--main-color);
        position: absolute;
        width: 6rem;
        height: 0.25rem;
        left: calc(50% - 6rem/2);
        bottom: -40%;

    }

}

#characters {
    
.char {
    background-color: rebeccapurple;
    position: relative;
    color: white;
    overflow: hidden;
  }
  .char img {
    transition: transform 1s 1s;
  }
  .char .caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s, transform 1s;
  }
  
  .char h3 {
    margin: 0 0 20px;
    background-color: #161a20;
    padding: 15px 0;
    transform: translateX(130%);
    transition: transform 1s 2s;
  }
  
  .char p {
    padding: 0 1rem;
    font-size: 1.25rem;
    transform: translateX(130%);
    transition: transform 1s 2.5s;
  }
  
  .char:hover .caption {
    opacity: 1;
    transform: rotate(360deg);
  }
  
  .char:hover img {
    transform: scale(1.1);
  }
  
  .char:hover h3,
  .char:hover p {
    transform: translateX(0);
  }
  
}

#last-section {

    .logo {
        width: 4rem;
    }

    .icon {
        padding: 10px 13px;
        border-radius: 5px;
        background-color: white;
        filter: drop-shadow(2px 4px 10px rgba(0,0,0,0.2));
    }

    .fa-facebook-f {
        color: var(--main-color);
    }

    .fa-instagram {
        color: #e50f41;
    }

    .fa-twitter {
        color: rgba(0, 115, 128, 0.678);
    }


    .fa-linkedin-in {
        color: var(--main-color);
    }

}